<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <script src=<%= `/javascripts/${js}.js` %>></script>
</body>
</html>